body {
  margin: 0;
  overflow: hidden;
   background-image: url("https://i.pinimg.com/originals/ca/fc/60/cafc60de1d3172d2a4c5035bc9fa42e6.gif");
  font-family: Arial, sans-serif;
  height: 100vh;
}

.bee {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform-origin: center;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 10;
}

.bee1 {
  background-image: url("https://i.pinimg.com/originals/b2/1d/bd/b21dbd909e730c8dd7eea0421929eb68.gif");
}

.bee2 {
  background-image: url("https://i.pinimg.com/originals/b2/1d/bd/b21dbd909e730c8dd7eea0421929eb68.gif");
}
 .number-label {
      position: absolute;
      color: red;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      pointer-events: none;
    }
.flower {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("https://i.pinimg.com/originals/92/78/7c/92787c838b3f9947637acbc119da0c19.gif");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

 .trail {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      animation: flameTrail 0.8s ease-out forwards;
    }
    @keyframes flameTrail {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      25% {
        background: red;
      }
      50% {
        background: yellow;
      }
      75% {
        background: orange;
      }
      100% {
        background: blue;
        opacity: 0;
        transform: scale(0.2);
      }
    }
